body {
        font-family: "Courier New", Courier, monospace;
        background-image: url("/lab2-q1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .header {
        text-decoration: underline;
      }